#board {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  gap: 4px;
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
